html {
    height: 100%;
	font-size: 18pt;
}

body {
    font-family: sans-serif;
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 28pt;
}

div.de {
    width: 10vh;
    height: 10vh;
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
}

div.garder {
    box-shadow: red 0px 0px 0px 3px;
}

img {
    width: 80%;
    margin: 10%;
}

div.historique div.de {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid black;
    display: inline-block;
    margin: 2px;
}

input {
    font-size: 24pt;
    height: 100px;
    width: 300px;
    display: inline-block;
    border: 1px solid black;
    color: white;
    margin: 10px;
    line-height: 50px;
    cursor: pointer;
}

input.vert {
	background-color: #3cb371;
}

input.orange {
	background-color: #ffa500;
}

input.rouge {
	background-color: #ff6347;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(4px, 2px) rotate(0deg); }
	10% { -webkit-transform: translate(-2px, -4px) rotate(-2deg); }
	20% { -webkit-transform: translate(-6px, 0px) rotate(2deg); }
	30% { -webkit-transform: translate(0px, 4px) rotate(0deg); }
	40% { -webkit-transform: translate(2px, -2px) rotate(2deg); }
	50% { -webkit-transform: translate(-2px, 4px) rotate(-2deg); }
	60% { -webkit-transform: translate(-6px, 2px) rotate(0deg); }
	70% { -webkit-transform: translate(4px, 2px) rotate(-2deg); }
	80% { -webkit-transform: translate(-2px, -2px) rotate(2deg); }
	90% { -webkit-transform: translate(4px, 4px) rotate(0deg); }
	100% { -webkit-transform: translate(2px, -4px) rotate(-2deg); }
}
.shake {
   display:block;
   position:relative;
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}


@media (orientation: landscape) {
    div.de {
        display: inline-block;
        height: 125px;
        width: 125px;
    }
    div.tapis {
        height: 135px;
    }
    input {
        height: 100px;
    }
}

@media (orientation: portrait) {
    div.de {
        display: block;
    }
    div.tapis {
        min-height: 60vh;
        width: 12vh;
        margin: auto;
    }
    input {
        height: 70px;
    }
}
