body {
    font-family: sans-serif;
}

h1 {
    font-size: 28pt;
}

div.main {
    margin: auto;
    width: 60%;
    min-width: 660px;
    text-align: center
}

div.tapis {
    height: 680px;
    width: 135px;
    display: block;
    margin: auto;
}

img {
    width: 125px;
    border-radius: 10px;
    border: 1px solid black;
    display: block;
    margin: 8px auto;
}

img.garder {
    box-shadow: red 0px 0px 0px 3px;
}

input {
    font-size: 24pt;
    height: 100px;
    width: 300px;
    display: inline-block;
    border: 1px solid black;
    color: white;
    margin: 10px;
    line-height: 50px;
    cursor: pointer;
}

input.vert {
	background-color: #3cb371;
}

input.orange {
	background-color: #ffa500;
}

input.rouge {
	background-color: #ff6347;
}

p.consigne {
	text-align: center;
	font-size: 24pt;
}